body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: fit-content;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: sans-serif;
  color: #000;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 95px;
}

h2 {
  font-size: 70px;
}

h3 {
  font-size: 43.5px;
}

h4 {
  font-size: 40px;
}

h5 {
  font-size: 37.5px;
}

h6 {
  font-size: 34.5px;
}

p {
  font-size: 16px;
}

a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
